body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  position: relative;
  display: flex;
}

.background {
  background: absolute;
  height: 100vh;
  width: auto;
  z-index: -1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10rem;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.logo {
  height: 100px;
  width: auto;
}

@font-face {
  font-family: norse-bold;
  src: url(Norse-Bold.otf);
}

.logo-text {
  font-family: norse-bold, sans-serif;
  color: white;
  font-size: 75px;
}

.credit {
  width: 100%;
  position: absolute;
  color: white;
  top: 96vh;
  text-align: center;
}

.main {
  background: #f9fafb;
}

.heading {
  padding: 2rem;
  width: 700px;
  font-size: 23px;
  font-weight: bold;
}

.form {
  padding: 0rem 2rem 2rem;
  background-color: white;
  box-shadow: 0px 3px 3px gray;
}

.form h1 {
  width: 700px;
  font-size: 23px;
  font-weight: bold;
  padding: 1rem 0rem;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  gap: 40px;
}

.input {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  padding: 1px 13px;
  font-size: 16px;
}

.submit {
  padding: 2rem;
}

.submit button {
  background-color: #596d48;
  border: none;
  padding: 12px 40px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 1px 1px 3px gray;
  margin-bottom: 1rem;
}

.submit a {
  text-decoration-line: none;
  font-weight: 600;
  color: #596d48;
}
